@model Web_Music.Models.NguoiDung

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Register</h2>
    </div>
</section>

<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Welcome to Our Platform</h3>

                    <div class="login-form">
                        <form asp-action="Register" method="post">
                            <div class="form-group">
                                <label for="Email">Email address</label>
                                <input type="email" class="form-control" id="Email" name="Email" placeholder="Enter E-mail" required />
                                <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="TenDangNhap">User name</label>
                                <input type="text" class="form-control" id="TenDangNhap" name="TenDangNhap" placeholder="UserName" required />
                            </div>
                            <div class="form-group">
                                <label for="MatKhau">Password</label>
                                <input type="password" class="form-control" id="MatKhau" name="MatKhau" placeholder="Password" required />
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
